{% extends "menu/index.html" %}
{% load static %}
{% block content %}



<div class="название">
    <div class="имя">TaiWoomBurg</div>
    <div class="подпись">Вкусно, быстро, удобно</div>
</div>
    <div class="one"><img src="{% static 'img/изображение_2024-11-24_230317143.png'%}" alt="ошибка"></div>
    <div class="two"><img src="{% static 'img/изображение_2024-11-24_230317143.png'%}" alt="ошибка"></div>
    <div class="three"><img src="{% static 'img/изображение_2024-11-24_230317143.png'%}" alt="ошибка"></div>
    
{% endblock content %}