{% extends "menu/index.html" %}
{% load static %}
{% block content %}

    <div class="zagolovok">Адрес и контакты</div>
    <div class="adres">Новосибирск, Ельцовская 31</div>
    <div class="mnogotexta">Мы находимся на территории МБОУ СОШ 43. Центральный вход со стороны улицы Ельцовская.</div>
    <div class="textlittle">Время работы: ежедневно с 10:00 до 22:00</div>
    <div class="telefon">Телефон: +7 (953) 804-16-81</div>
    <div class="email">Email: sch_43_nsk@nios.ru</div>
    <div class="picture"> <img class="picture" src="{% static 'img/image 10.png'%}" alt="ошибка"></div>
    <div class="karta"> <img class="karta" src="{% static 'img/image 9.png'%}" alt="ошибка" class='kartinka' ></div>
  </body>
  <style>
    @font-face {
        font-family: 'Montagu Slab';
        src: url(fonts/MontaguSlab-VariableFont_opsz\,wght.ttf`);
    }
    @font-face {
        font-family: 'Kadwa Bold';
        src: url(fonts/kadwa/Kadwa-Bold.ttf);
    }
    @font-face {
        font-family: 'Kadwa';
        src: url(fonts/kadwa/Kadwa-Regular.ttf);
    }
    @font-face {
        font-family: 'Rufina Bold';
        src: url(fonts/rufina/Rufina-Bold.ttf);
    }
    @font-face {
        font-family: 'Rufina';
        src: url(fonts/rufina/Rufina-Regular.ttf);
    }
    @font-face {
      font-family: 'Ubuntu Sans';
      src: url(fonts/ub/variable/UbuntuSans[wdth\,wght].ttf);
    }
    @font-face {
      font-family: 'Ubuntu Sans Regular';
      src: url(fonts/ub/otf/UbuntuSans-Regular.otf);
    }
    @font-face {
      font-family: 'Ubuntu Sans Medium';
      src: url(fonts/ub/otf/UbuntuSans-Medium.otf);
    }
    @font-face {
      font-family: 'Ubuntu Sans Bold';
      src: url(fonts/ub/ttf/UbuntuSans-Bold.ttf);
    }
    </style>
{% endblock content %}
</html>