{% extends "menu/index.html" %}
{% load static %}
{% block content %}



    <div class="надпись">Бургеры</div>
{% for m in menus %}
    <div class="окошки">

        <div class="rectangleOne"> </div>
        <img class="one" src="{% static 'img/{{m.image}}.png'%}" alt="111">
        <!-- <img class="one" src={{m.image}} alt="111"> -->
        <div class="rectangleOneBig"> </div>
        <div class="названиеодин">{{m.name}}</div>
        <div class="ценаодин">{{m.cena}}</div>
        <div class="составодин">{{m.sostav}}</div>
    </div>
{% endfor %}
<style>
@font-face {
    font-family: 'Montagu Slab';
    src: url(fonts/MontaguSlab-VariableFont_opsz\,wght.ttf`);
}
@font-face {
    font-family: 'Kadwa Bold';
    src: url(fonts/kadwa/Kadwa-Bold.ttf);
}
@font-face {
    font-family: 'Kadwa';
    src: url(fonts/kadwa/Kadwa-Regular.ttf);
}
@font-face {
    font-family: 'Rufina Bold';
    src: url(fonts/rufina/Rufina-Bold.ttf);
}
@font-face {
    font-family: 'Rufina';
    src: url(fonts/rufina/Rufina-Regular.ttf);
}
</style>
{% endblock content %}
</html>