body{
    background: linear-gradient(to bottom, 
    #AD8B72 13%,
    #855443 28%,
    #503B35 85%);
    
height: 100vh; /* Задает высоту на весь экран */
margin: 0; /* Убирает отступы */
}

a.textone:active, /* активная/посещенная ссылка */
a.textone:hover,  /* при наведении */
a.textone {
  text-decoration: none;
  color: #E4B9B9;
}

a.text:active, /* активная/посещенная ссылка */
a.text:hover,  /* при наведении */
a.text {
  text-decoration: none;
  color: #E4B9B9;
}

.TWB{
    position: absolute;
width: 117px;
height: 38px;
left: 7%;
top: 51px;

font-family: 'Montagu Slab';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 51px;
color: #E4B9B9;
}

.MBOUSOSH{
    
position: absolute;
width: 306px;
height: 72px;
left: 40%;
top: 49px;

font-family: 'Kalam';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 72px;

color: #E4B9B9;
}

.menu{
    position: absolute;
    width: 130px;
    height: 39px;
    left: 86%;
    top: 50px;
    
    font-family: 'Rum Raisin';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    
    color: #E4B9B9;
}
.zagolovok{
    /* Адрес и контакты */

position: absolute;
width: 423px;
height: 58px;
left: 36%;
top: 140px;

font-family: 'Ubuntu Sans Bold';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 58px;
/* identical to box height */

color: #F5F5F5;
}

.adres{
position: absolute;
width: 774px;
height: 49px;
left: 46%;
top: 230px;

font-family: 'Ubuntu Sans Medium';
font-style: normal;
font-weight: 500;
font-size: 55px;
line-height: 66px;

color: #FFEFE8;
}

.mnogotexta{
  
position: absolute;
width: 728px;
height: 128px;
left: 46%;
top: 310px;

font-family: 'Ubuntu Sans Medium';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 43px;

color: #FFEFE8;
}


.textlittle{
    

position: absolute;
width: 742px;
height: 35px;
left: 46%;
top: 440px;

font-family: 'Ubuntu Sans Medium';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 43px;

color: #FFEFE8;
}

.telefon{
    

position: absolute;
width: 541px;
height: 35px;
left: 46%;
top: 650px;

font-family: 'Ubuntu Sans Regular';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 38px;

color: #FFEFE8;
}

.email{
    

position: absolute;
width: 546px;
height: 38px;
left: 46%;
top: 690px;

font-family: 'Ubuntu Sans Regular';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 38px;

color: #FFEFE8;

}

.picture{
    /* image 10 */

position: absolute;
width: 167px;
height: 85px;
left: 86%;
top: 650px;

background: url(.png);
}

.karta{
    /* image 9 */

position: absolute;
width: 533px;
height: 457px;
left: 4%;
top: 230px;

background: url(image.png);

}