body {
    background: linear-gradient(to bottom,
        #000000 5%,
        #BC977A 40%);
    background-repeat: no-repeat;
    height: 100vh; /* Задает высоту на весь экран */
    /*margin: 0; /* Убирает отступы */
    background-color: #BC977A; /*делать так нельязя, но сработало же :) */
}
/*
body {
    background: linear-gradient(to bottom,
        #000000 0%,
        #BC977A 46%,
        #945745 70%);
    height: 100vh; /* Задает высоту на весь экран */
 /*   margin: 0; /* Убирает отступы */


.шапка {
    height: 150px;
    width: 1471px
 }



 .logo {
    /* Логотип */


    position: absolute;
    width: 117px;
    height: 38px;
    left: 95px;
    top: 51px;

    font-family: 'Montagu Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 51px;

    color: #D7BBBB;
    }
a.text:active, /* активная/посещенная ссылка */
a.text:hover,  /* при наведении */
a.text {
  text-decoration: none;
  color: #D7BBBB;
}
.школа{
/* название ресторана */

position: absolute;
width: 306px;
height: 72px;
left: 609px;
top: 49px;

font-family: 'Kalam';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 72px;

color: #E4B9B9;
}

.меню{
/* Меню */

position: absolute;
width: 130px;
height: 39px;
left: 1300px;
top: 50px;

font-family: 'Rum Raisin';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 52px;

color: #E4B9B9;
}
.надпись{
   /* Бургеры */

position: absolute;
width: 406px;
height: 83px;
left: 138px;
top: 220px;

font-family: 'Rum Raisin';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 83px;
/* identical to box height */

color: #000000;
}



.окошки{
    height: 1900px;
    width: 1471px;
}

/*group 1*/

.rectangleOne{

width: 352.85px;
height: 335.37px;
left: 66px;
top: 346px;

background: #CDAF98;
border-radius: 50px;

}
.rectangleOneBig{

width: 871px;
height: 335px;
left: 544px;
top: 346px;

background: #CDAF98;
border-radius: 50px;

}
img.one{
/* image 5 */

position: absolute;
width: 301px;
height: 298px;
left: 101px;
top: 365px;

background: url(.png);
}
.названиеодин{
/* Нежный ветер */

position: absolute;
width: 251px;
height: 36px;
left: 585px;
top: 394px;

font-family: 'Rufina Bold';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 40px;
text-align: center;

color: #1C0E04;
}
.ценаодин{
   /* 100 руб. */

position: absolute;
width: 172px;
height: 43px;
left: 1217px;
top: 601px;

font-family: 'Ruda';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 49px;

color: #372F2A;
}
.составодин{

position: absolute;
width: 632px;
height: 143px;
left: 594px;
top: 453px;

font-family: 'Montagu Slab';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 36px;

color: #000000;
}


/*group 2*/

.rectangleTwo{
/* Rectangle 2 */

position: absolute;
width: 353px;
height: 335px;
left: 66px;
top: 767px;

background: #CDAF98;
border-radius: 50px;
}
img.two{
/* image 3 */

position: absolute;
width: 336px;
height: 244px;
left: 66px;
top: 815px;

background: url(.png);
}
.rectangleTwoBig{
    /* Rectangle 2 Big */

position: absolute;
width: 871px;
height: 335px;
left: 544px;
top: 767px;

background: #CDAF98;
border-radius: 50px;
}
.названиедва{
    /* Гиганское удовольствие */

position: absolute;
width: 446px;
height: 43px;
left: 610px;
top: 815px;

font-family: 'Rufina Bold';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 40px;
display: flex;
align-items: center;
text-align: center;

color: #1C0E04;
}
.ценадва{
    /* 500 руб. */

position: absolute;
width: 176px;
height: 43px;
left: 1223px;
top: 1022px;

font-family: 'Ruda';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 49px;

color: #372F2A;/* 500 руб. */

position: absolute;
width: 176px;
height: 43px;
left: 1213px;
top: 1022px;

font-family: 'Ruda';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 49px;

color: #372F2A;
}
.составтри{
    /* Теперь ещё больше соуса! Внутри три вкуснейших бифштекса, приготовленных на огне, сочные томаты, салат Айсберг, щедрая порция майонеза, маринованные огурчики и свежий лук на нежной булочке с кунжутом. */

position: absolute;
width: 718px;
height: 180px;
left: 600px;
top: 881px;

font-family: 'Montagu Slab';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 36px;

color: #000000;

}
/*group 3*/


.rectangleThree{
    /* Rectangle 3 */

position: absolute;
width: 353px;
height: 335px;
left: 66px;
top: 1188px;

background: #CDAF98;
border-radius: 50px;
}
img.three{
   /* image */

position: absolute;
width: 302px;
height: 265px;
left: 83px;
top: 1221px;

background: url(.png);
}
.rectangleThreeBig{
    /* Rectangle 3 Big */

position: absolute;
width: 871px;
height: 335px;
left: 544px;
top: 1188px;

background: #CDAF98;
border-radius: 50px;
}
.названиетри{
    /* Крошечная радость */

position: absolute;
width: 376px;
height: 62px;
left: 602px;
top: 1236px;

font-family: 'Rufina';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 40px;
display: flex;
align-items: center;
text-align: center;

color: #1C0E04;
}
.ценатри{
    /* 50 руб. */

position: absolute;
width: 156px;
height: 43px;
left: 1233px;
top: 1443px;

font-family: 'Ruda';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 49px;

color: #372F2A;
}

/*group 4*/

.rectangleFour{
    /* Rectangle 4 */

position: absolute;
width: 353px;
height: 335px;
left: 67px;
top: 1609px;

background: #CDAF98;
border-radius: 50px;
}
img.four{
    /* image 2 */

position: absolute;
width: 318px;
height: 251px;
left: 67px;
top: 1635px;

background: url(.png);
}
.rectangleFourBig{
    /* Rectangle 4 Big */

position: absolute;
width: 871px;
height: 335px;
left: 544px;
top: 1609px;

background: #CDAF98;
border-radius: 50px;
}
.названиечетыре{
    /* Двойная удача */

position: absolute;
width: 241px;
height: 36px;
left: 585px;
top: 1657px;

font-family: 'Rufina';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 40px;
text-align: center;

color: #1C0E04;
}
.ценачетыре{
    /* 200 руб. */

position: absolute;
width: 172px;
height: 43px;
left: 1217px;
top: 1864px;

font-family: 'Ruda';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 49px;

color: #372F2A;
}