body {
    background: linear-gradient(to bottom,
        #000000 5%,
        #BC977A 40%);
    background-repeat: no-repeat;
    height: 100vh; /* Задает высоту на весь экран */
    /*margin: 0; /* Убирает отступы */
    background-color: #BC977A; /*делать так нельязя, но сработало же :) */
}
/*
body {
    background: linear-gradient(to bottom,
        #000000 0%,
        #BC977A 46%,
        #945745 70%);
    height: 100vh; /* Задает высоту на весь экран */
 /*   margin: 0; /* Убирает отступы */

.надпись{
   /* Бургеры */

position: absolute;
width: 406px;
height: 83px;
left: 138px;
top: 220px;

font-family: 'Rum Raisin';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 83px;
/* identical to box height */


color: #000000;
}
.окошки{
position: relative;
width: 1349px;
height: 335.37px;
margin-left: auto;
margin-right: auto;
margin-top: 275px;
}
.inRectangleOne{
    display:inline-block;
}
.rectangleOne{
width: 352.85px;
height: 335.37px;
left: 66px;
top: 346px;
display:inline-block;

background: #CDAF98;
border-radius: 50px;

}
.inRectangleOneBig{
    display:inline-block;
}
.rectangleOneBig{
position: absolute;
width: 871px;
height: 335px;
left: 515px;
display:inline-block;

background: #CDAF98;
border-radius: 50px;

}
img.one{
/* image 5 */
position: absolute;
width: 301px;
height: 298px;
left: 30px;
top: 20px;

background: url(.png);
}
.названиеодин{
/* Нежный ветер */
position: absolute;
width: auto;
height: auto;
left: 594px;
top: 35px;
display:inline-block;

font-family: 'Rufina Bold';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 40px;
text-align: center;

color: #1C0E04;
}
.ценаодин{
position: absolute;
width: 176px;
height: 43px;
left: 1217px;
top: 258px;

font-family: 'Ruda';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 49px;

color: #372F2A;
}
.составодин{
position: absolute;
width: 781px;
height: auto;
left: 594px;
top: 107px;

font-family: 'Montagu Slab';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 36px;

color: #000000;
}
